<li>
	<div class="dropdown-container dropdown-left dropdown-container-mchat-message-icons">
		<a href="#" class="dropdown-trigger"><span class="imageset icon_mchat_message_icons" title="{postrow.CONTACT_USER}">{postrow.CONTACT_USER}</span></a>
		<div class="dropdown hidden">
			<div class="dropdown-contents contact-icons mchat-buttons <!-- IF $MCHAT_USE_WHITE_MESSAGE_ICONS -->mchat-icons-white<!-- ELSE -->mchat-icons-black<!-- ENDIF -->" role="menu">
				<!-- IF $MCHAT_ALLOW_MENTION --><a href="#" title="{L_MCHAT_RESPOND}" data-mchat-action="mention"><i class="<!-- IF IS_PHPBB31 -->mchat-icon mchat-icon-mention<!-- ELSEIF IS_PHPBB32 -->fa fa-at<!-- ENDIF -->"><span>{L_MCHAT_RESPOND}</span></i></a><!-- ENDIF -->
				<!-- IF $MCHAT_ALLOW_QUOTE --><a href="#" title="{L_REPLY_WITH_QUOTE}" data-mchat-action="quote"><i class="<!-- IF IS_PHPBB31 -->mchat-icon mchat-icon-quote<!-- ELSEIF IS_PHPBB32 -->fa fa-quote-left<!-- ENDIF -->"><span>{L_REPLY_WITH_QUOTE}</span></i></a><!-- ENDIF -->
				<!-- IF $MCHAT_ALLOW_LIKE --><a href="#" title="{L_MCHAT_LIKE}" data-mchat-action="like"><i class="<!-- IF IS_PHPBB31 -->mchat-icon mchat-icon-like<!-- ELSEIF IS_PHPBB32 -->fa fa-thumbs-o-up<!-- ENDIF -->"><span>{L_MCHAT_LIKE}</span></i></a><!-- ENDIF -->
				<!-- IF $MCHAT_ALLOW_PM --><a href="{mchatrow.MCHAT_PM}" title="{L_MCHAT_SEND_PM}"><i class="<!-- IF IS_PHPBB31 -->mchat-icon mchat-icon-pm<!-- ELSEIF IS_PHPBB32 -->fa fa-envelope-o<!-- ENDIF -->"><span>{L_MCHAT_SEND_PM}</span></i></a><!-- ENDIF -->
				<!-- IF MCHAT_ALLOW_IP --><a href="{mchatrow.MCHAT_U_IP}" title="{mchatrow.MCHAT_WHOIS_USER}" data-mchat-action="ip"><i class="<!-- IF IS_PHPBB31 -->mchat-icon mchat-icon-ip<!-- ELSEIF IS_PHPBB32 -->fa fa-wifi<!-- ENDIF -->"><span>{mchatrow.MCHAT_WHOIS_USER}</span></i></a><!-- ENDIF -->
				<!-- IF MCHAT_ALLOW_PERMISSIONS --><a href="{mchatrow.MCHAT_U_PERMISSIONS}" title="{L_MCHAT_PERMISSIONS}"><i class="<!-- IF IS_PHPBB31 -->mchat-icon mchat-icon-permissions<!-- ELSEIF IS_PHPBB32 -->fa fa-exclamation-triangle<!-- ENDIF -->"><span>{L_MCHAT_PERMISSIONS}</span></i></a><!-- ENDIF -->
				<!-- IF $MCHAT_ALLOW_EDIT --><a href="#" title="{L_MCHAT_EDIT}" data-mchat-action="edit"><i class="<!-- IF IS_PHPBB31 -->mchat-icon mchat-icon-edit<!-- ELSEIF IS_PHPBB32 -->fa fa-pencil<!-- ENDIF -->"><span>{L_MCHAT_EDIT}</span></i></a><!-- ENDIF -->
				<!-- IF $MCHAT_ALLOW_DEL --><a href="#" title="{L_DELETE}" data-mchat-action="del"><i class="<!-- IF IS_PHPBB31 -->mchat-icon mchat-icon-delete<!-- ELSEIF IS_PHPBB32 -->fa fa-trash-o<!-- ENDIF -->"><span>{L_DELETE}</span></i></a><!-- ENDIF -->
			</div>
			<div class="arrow"></div>
		</div>
	</div>
</li>

<!-- DEFINE $MCHAT_ALLOW_MENTION = FALSE -->
<!-- DEFINE $MCHAT_ALLOW_QUOTE = FALSE -->
<!-- DEFINE $MCHAT_ALLOW_LIKE = FALSE -->
<!-- DEFINE $MCHAT_ALLOW_PM = FALSE -->
<!-- DEFINE $MCHAT_ALLOW_IP = FALSE -->
<!-- DEFINE $MCHAT_ALLOW_PERMISSIONS = FALSE -->
<!-- DEFINE $MCHAT_ALLOW_EDIT = FALSE -->
<!-- DEFINE $MCHAT_ALLOW_DEL = FALSE -->
